# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Python scripts
*.pyc

#Temporal files
*.*~
*.~

#Heavy files (i.e. trace files)
ns-3.13/traces/
ns-3.13/.project/
ns-3.13/bindings/
ns-3.13/build/
ns-3.13/Debug/
ns-3.13/.waf*
